*,
*::after,
*::before {
    box-sizing: border-box;
}

body { 
    font-family: sans-serif; 
    min-height: 100vh;
}

a { 
    text-decoration: none; 
    color: #57585c;
}
a.click, h1 { color: #EAE9E7; }
a:hover{ color: #C44D46; }


/*Page Transitions*/
main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content {
    width: 100%;
    height: 100vh;
    position: relative;
}

.content-before{
    z-index: 100;
    height: 200vh;
}

.content-before .inner { background-color: #57585c; }

.inner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 300px;
    margin: 0px auto;
    text-align: center;
}

.content-after {
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.shape {
    height: 100vh;
    width: 100%;
    display: block;
    fill: #57585c;
}

.shape-wrap {
    position: relative;
    z-index: 10;
    margin: -5px 0 0 0;
}

/*Demo One*/
.content-after.demo-1 { background-image: url("../img/page-1.jpg"); }

/*Demo Two*/
.content-after.demo-2 { 
    background-image: url("../img/page-2.jpg"); 
    background-position: 0% 50%;
}

/*Demo Three*/
.content-after.demo-3 {
    background-image: url("../img/page-3.jpg");
}

/*Demo Four*/
.content-after.demo-4 {
    background-image: url("../img/page-4.jpg");
}